{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Empresas</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Nombredeempresa</th>
                <td>{{ entity.nombredeempresa }}</td>
            </tr>
            <tr>
                <th>Direccion</th>
                <td>{{ entity.direccion }}</td>
            </tr>
            <tr>
                <th>Telefono</th>
                <td>{{ entity.telefono }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ entity.email }}</td>
            </tr>
            <tr>
                <th>Personadecontacto</th>
                <td>{{ entity.personadecontacto }}</td>
            </tr>
            <tr>
                <th>Serviciooproducto</th>
                <td>{{ entity.serviciooproducto }}</td>
            </tr>
            <tr>
                <th>Web</th>
                <td>{{ entity.web }}</td>
            </tr>
            <tr>
                <th>Facebook</th>
                <td>{{ entity.facebook }}</td>
            </tr>
            <tr>
                <th>Comentario</th>
                <td>{{ entity.comentario }}</td>
            </tr>
            <tr>
                <th>Comentarios</th>
                <td>{{ entity.comentarios }}</td>
            </tr>
            <tr>
                <th>Fechadeincripcion</th>
                <td>{{ entity.fechadeincripcion|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Flag</th>
                <td>{{ entity.flag }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('empresas') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('empresas_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
